<!DOCTYPE html>
<html>
<body>
<head>
<title>Select the method to be called</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/login.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      .error{
        color:red;
      }
    </style>
</head>
<p>The select element is used to create a drop-down list.</p>

<form action="/action_page.php">
  <label for="Funtion">Choose a Function:</label>
  <select name="Fn" id="fun">
    <option value="Febnocci">Febnocci</option>
    <option value="Auckerman">Auckerman</option>
    <option value="Factorial">Factorial</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
 <input id="input" type="text" style="width:100px;" label for="Enter Number">
</form>

<p>Click the "Submit" Flask api will called</p>

</body>
</html>

